

body {
 background-image: url(https://cdn5.vectorstock.com/i/1000x1000/12/24/mexican-fiesta-background-banner-vector-14671224.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 color: white;

}

.board{
  border:solid purple;
  height:300px;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;

}
.card{
  border: solid red;

}
